*{margin:0; padding:0; box-sizing:border-box; list-style:none; text-decoration:none; color:inherit; scrollbar-width: none;}
input[type="submit"]{background: transparent; border: none; cursor: pointer;}

:root{
  --red: #c12d3d;
  --lightred: #db4c5a;
  --blue: #64b0b0;
  --smallblue: #7fb9b9;
  --lightblue: #60ecec;
}

.blue{color:#64b0b0;}
.smallblue{color:#7fb9b9;}
.red{color:#c12d3d;}
.lightred{color:#db4c5a;}
.C555{color: #555;}

.bkred{background-color: red;}

.borderNone{border-top: none; border-left: none; border-right: none;}

.Dblock{display: block;}
.Dnone{display: none;}

.fz08em{font-size: .8em;}
.mfont{font-size: 2.3em;}
.sfont{font-size: 1.7em;}
.tac{text-align: center;}

.flex{display: flex;}
.aic{align-items: center;}
.jcc{justify-content: center;}
.center{display: flex; justify-content: center; align-items: center;}
.right{display: flex; justify-content: start; align-items: center;}
.left{display: flex; justify-content: end; align-items: center;}
.fd{flex-direction: column;}

.centerX{position: absolute; left: 50px; transform: translateX(-50%);}
.centerY{position: absolute; top: 50%; transform: translateY(-50%);}
.centerXY{position: absolute; left: 50px; transform: translateX(-50%); top: 50%; transform: translateY(-50%);}

.p10{padding: 10px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}

.m10{margin: 10px;}
.ml10{margin-left: 10px;}
.mr10{margin-right: 10px;}
.mr5{margin-right: 5px;}
.ml5{margin-left: 10px;}

.barBox{display: flex; justify-content: space-between; align-items: center; width: 1180px; margin: 0 auto; margin-left: 10px;}
.barBox span{width: 480px; height: 2px; border-top: 1px dotted var(--blue); }
.barBox p{color: var(--red); font-size: 21px}

.container{position: relative; width: 100%; min-height: 100vh;}
/* 초기화 */


/* 헤더 */

header{position: absolute; background-color: rgba(211, 211, 211, 0.637); /* top: 300px; */ width: 100%; height: 100px; font-size: .8em; color: #fff; z-index: 2;}
header .headerIn{display: flex; justify-content: space-between; align-items: center; margin: 0 auto; width: 60%; height: 100px;}

header .dropdown{display: flex; justify-content: space-between; width: 750px; text-align: center;}
header .dropdown ul li{height: 0; overflow: hidden; transition: .2s;}

header .drop1{position: relative; width: 80px; height: 20px;}
header .focusTrigger1{position: absolute; inset: 0; opacity: 0; cursor: pointer;}
header .focusTrigger1:focus ~ ul li{height: 40px;}
header .drop1:not(:hover) .focusTrigger1{animation: kill .01s forwards;}
header .focusTrigger1 ~ ul:where(:active) li{height: 40px;}


header .drop2{position: relative; width: 80px; height: 20px;}
header .focusTrigger2{position: absolute; inset: 0; opacity: 0; cursor: pointer;}
header .focusTrigger2:focus ~ ul li{height: 40px;}
header .drop2:not(:hover) .focusTrigger2{animation: kill .01s forwards;}
header .focusTrigger2 ~ ul:where(:active) li{height: 40px;}

header .drop3{position: relative; width: 80px; height: 20px;}
header .focusTrigger3{position: absolute; inset: 0; opacity: 0; cursor: pointer;}
header .focusTrigger3:focus ~ ul li{height: 40px;}
header .drop3:not(:hover) .focusTrigger3{animation: kill .01s forwards;}
header .focusTrigger3 ~ ul:where(:active) li{height: 40px;}

header .drop4 li{font-size: .8em;}

header .focusTrigger1 ~ ul li:nth-child(1){padding-top: 7px;}
header .focusTrigger2 ~ ul li:nth-child(1){padding-top: 7px;}
header .focusTrigger3 ~ ul li:nth-child(1){padding-top: 7px;}

header .headerBtns{display: flex; justify-content: space-between; width: max-content; margin-left: 80px;}
header .headerBtns p{margin-right: 12px; cursor: pointer;}
header .headerBtns a{transition: .2s; margin-right: 12px;}
header .headerBtns a:hover{color: var(--lightblue);}

header .focusTrigger1:hover ~ .mainTxt1{color: var(--lightblue);}
header .focusTrigger2:hover ~ .mainTxt2{color: var(--lightblue);}
header .focusTrigger3:hover ~ .mainTxt3{color: var(--lightblue);}

header .focusTrigger1:focus ~ .mainTxt1{color: var(--lightblue);}
header .focusTrigger2:focus ~ .mainTxt2{color: var(--lightblue);}
header .focusTrigger3:focus ~ .mainTxt3{color: var(--lightblue);}

header .dropdown .drop1 ul li:hover{color: var(--lightblue);}
header .dropdown .drop2 ul li:hover{color: var(--lightblue);}
header .dropdown .drop3 ul li:hover{color: var(--lightblue);}

header .mainTxt1{display: flex; justify-content: space-between; width: 100px;}
header .mainTxt2{display: flex; justify-content: space-between; width: 100px;}
header .mainTxt3{display: flex; justify-content: space-between; width: 100px;}

header .plus{position: absolute; right: -20px; display: block; transition: .3s; transform-origin: center;}
header .minus{position: absolute; right: -18px; display: block; z-index: -2;}

header .focusTrigger1:focus ~ .mainTxt1 > .plus{transform: rotate(180deg); opacity: 0; z-index: -3;}
header .focusTrigger2:focus ~ .mainTxt2 > .plus{transform: rotate(180deg); opacity: 0; z-index: -3;}
header .focusTrigger3:focus ~ .mainTxt3 > .plus{transform: rotate(180deg); opacity: 0; z-index: -3;}

@keyframes kill {
  0%{display: block;}
  99.998%{display: block;}
  100%{display: none;}
}

/* 헤더 */



/* 슬라이드 */

#slide{width: 100%; height: 850px; overflow: hidden; z-index: -1;}
#slide img{width: 100%; height: 850px;}

#slide ul{display: flex; width: 400%; animation: slide 10s ease-in-out infinite;}
#slide li{width: 100%;}

#slide .progressBar{position: relative; left: 80%; bottom: 7%; display: flex; gap: 10px;}
#slide .progressBar span{position: relative; width: 100px; height: 6px; border-radius: 20px; background:#ddd; overflow: hidden;}
#slide .progressBar span::after{content:""; position:absolute; left:0; top:0; width: 0%; height:100%; background: var(--red); animation:gage 10s linear infinite;}

#slide .progressBar span:nth-child(1)::after{animation-delay: 0s;}
#slide .progressBar span:nth-child(2)::after{animation-delay: 3.33s;}
#slide .progressBar span:nth-child(3)::after{animation-delay: 6.66s;}

#slide:hover ul{animation-play-state: paused;}
#slide:hover .progressBar span::after{animation-play-state: paused;}

@keyframes gage{
  0%{width: 0%;}
  30%{width: 100%; opacity: 1;}
  31%{width: 100%; opacity: 0;}
  100%{width: 100%; opacity: 0;}
}

@keyframes slide {
  0%{transform: translateX(0%);}
  29%{transform: translateX(0%);}

  34%{transform: translateX(-25%);}
  61%{transform: translateX(-25%);}

  66%{transform: translateX(-50%);}
  93%{transform: translateX(-50%);}

  98%{transform: translateX(-75%);}
  99.999%{transform: translateX(-75%);}
  100%{transform: translateX(0%);}
}

/* 슬라이드 */


/* 공지사항 */

#notice{width: 100%; height: 600px;}
#notice .noticeContent{display: none; width: 1200px; height: 390px; margin: 0 auto; border: 2px solid var(--blue); border-radius: 20px; font-size: .9em;}
#notice .noticeContent li{display: flex; justify-content: space-between; margin: 0 auto; padding: 10px; margin-top: 16px; width: 90%; border: 1px solid var(--smallblue); border-radius: 10px;}

#notice .noticeIn{width: 1100px; margin: 0 auto;}
#notice .noticeIn h2{margin: 10px 0 0 8px; color: var(--blue);}

#notice .notice3{height: 480px;}
#notice .notice3 li{padding: 12px;}

#notice li{cursor: pointer; transition: transform .3s;}
#notice li:hover{transform: translateY(-10%); outline: 2px solid var(--blue);}

#notice .noticeBtn{width: max-content; padding: 3px 0 15px 0px;}
#notice .noticeBtn label{border: 2px solid var(--lightred); padding: 4px; margin-left: 10px; border-radius: 15px 5px 15px 5px; cursor: pointer; font-size: .83em;  transition: .2s;}
#notice .noticeBtn label:hover{color: var(--smallblue);}


#notice .noticeBtn:has(#nomal:checked) ~ .notice1{display: block;}
#notice .noticeBtn:has(#event:checked) ~ .notice2{display: block;}
#notice .noticeBtn:has(#get:checked) ~ .notice3{display: block;}

#notice .noticeBtn:has(#nomal:checked) > label[for="nomal"]{color: var(--blue); font-weight: bold;}
#notice .noticeBtn:has(#event:checked) > label[for="event"]{color: var(--blue); font-weight: bold;}
#notice .noticeBtn:has(#get:checked) > label[for="get"]{color: var(--blue); font-weight: bold;}

/* 공지사항 */


/* 프로그램 */

#program{position: relative; width: 100%; height: 700px; margin-top: 50px;}
#program .programIn{width: 1100px; margin: 0 auto;}
#program h2{color: var(--blue); margin: 0px 0px 0px 7px;}

#program .item img{width: 250px; height: 250px; clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 85%, 50% 100%, 0% 85%);}

#program .itemBox{width: 1100px; margin-top: 40px;}
#program .boxFlex1{display: flex; justify-content: space-between; width: 1050px;}
#program .boxFlex2{display: flex; justify-content: space-around; width: 1050px; margin-left: 125px; margin-top: -30px;}

#program .item{position: relative; clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 85%, 50% 100%, 0% 85%); filter: drop-shadow(0px 3px 3px var(--smallblue)); transition: .3s;}

#program .item:hover{scale: 1.05;}
#program .itemBox:has(.item:hover) .item:not(:hover) {scale: .95;}

#program .item:hover .background{width: 100%;}
#program .background{position: absolute; width: 0%; height: 100%; top: 0; background-color: rgba(0, 0, 0, 0.308); clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 83%, 50% 98%, 0% 83%); transition: .3s;}

#program label{position: absolute; transition: .3s; top: 0; left: 50%; top: 50%; width: 200px; text-align: center; transform: translateX(-50%) translateY(-50%); font-size: .9em; font-weight: bold; color: #fff; cursor: pointer;}
#program .programIn:has(label:hover) label:not([for="x"]) {font-size: .93em;}

#program .itemModal{position: fixed; inset: 0; /* top: 0; left: 0; bottom: 0; right: 0; */ width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.219); z-index: 12;}
#program .realItemModal{position: absolute; left: 50%; transform: translateX(-50%) translateY(-50%); top: 50%; display: block; width: max-content; height: 400px; border: 5px outset var(--blue); background-color: #f5f5f5; box-shadow: -1px -1px 1px 1px rgba(102, 102, 102, 0.39); z-index: 11; border-radius: 20px;}
#program .realItemModal p{font-weight: bold; padding: 10px; text-align: center;}
#program .realItemModal label{width: 70px; margin-top: 170px; transition: .2s; color: var(--red);}
#program .realItemModal label:hover{color: var(--blue);}

#program .itemModal img{width: 100%; height: 300px; border-radius: 15px 15px 0 0;}

#program .itemModal{display: none;}
#program .itemBox:has(#x:checked) .itemModal{display: none;}

#program .itemBox:has(#item1:checked) .Imodal1{display: block;}
#program .itemBox:has(#item2:checked) .Imodal2{display: block;}
#program .itemBox:has(#item3:checked) .Imodal3{display: block;}
#program .itemBox:has(#item4:checked) .Imodal4{display: block;}
#program .itemBox:has(#item5:checked) .Imodal5{display: block;}
#program .itemBox:has(#item6:checked) .Imodal6{display: block;}
#program .itemBox:has(#item7:checked) .Imodal7{display: block;}
#program .itemBox:has(#item8:checked) .Imodal8{display: block;}


/* 프로그램 */



/* 자주찾는 메뉴 영역 */
#bookMark{position: fixed; top: 50%; left: 3%; transform: translateY(-50%) translateX(-3%); width: 110px; height: 630px; margin: 0 auto; background-color: #ffffffbb; border: 3px solid var(--blue); border-top: none; border-radius: 20px; z-index: 10;}
#bookMark > .deco{position: absolute; left: 50px; transform: translate(-50%, -15px); color: var(--red);}
#bookMark .ft{position: absolute; width: 100%; top: -30px; left: 58%; transform: translateX(-50%); font-size: .5em;}

#bookMark ul{display: flex; justify-content: space-around; align-items: center; flex-direction: column; width: 103px; height: 630px; border-radius: 20px;}
#bookMark ul li{text-align: center; transition: .2s; cursor: pointer;}
#bookMark ul li:hover{color: var(--red);}

#bookMark ul p{font-size: .8em; margin-top: 5px;}

/* 자주찾는 메뉴 영역 */



/* 캘린더 */

#calender{width: 100%; height: 1000px; margin-top: 50px;}
#calender .calenderIn{width: 1100px; margin: 0 auto;}
#calender .calenderIn .showCalender{width: 1150px; margin: 0 auto; margin-left: 25px; box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06); border-radius: 20px;}

#calender h2{margin: 0 0 0 5px;}
#calender h3{display: flex; justify-content: space-between; align-items: center; width: 160px; height: 60px;}

#calender .ctrlBox{margin-top: 20px;}
#calender .ctrlBox .ctrl{display: flex; justify-content: space-between; align-items: center; width: 90%; padding-top: 30px; margin: 0 auto;}

#calender .realCalender{position: relative; display: grid; grid-template-columns: repeat(7, 1fr); grid-auto-rows: 120px; width: 1100px; min-height: 700px; margin: 50px 0 0 0; text-align: center; font-weight: bold;}
#calender .realCalender .flexBox{display: flex; flex-direction: column;}

#calender .realCalender ul{display: flex; align-items: start; flex-direction: column; width: 100px; height: 100px;}
#calender .realCalender li{width: 90px; margin: 5px 0 0 88px; font-size: .6em; word-break: keep-all; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}


#calender .underBarParent{position: relative;}
#calender .underBar1{position: absolute; content: ""; display: block; width: 80px; height: 2px; transform: translate(92px, -6px); background-color: var(--red);}
#calender .underBar2{position: absolute; content: ""; display: block; width: 80px; height: 2px; transform: translate(92px, -6px); background-color: black;}
#calender .underBar3{position: absolute; content: ""; display: block; width: 80px; height: 2px; transform: translate(92px, -6px); background-color: var(--smallblue);}


/* 캘린더 */



/* 추천 도서 영역 */

#bestseller{width: 100%; height: 750px; /* background-color: red; */}
.bestsellerIn{width: 1100px; margin: 80px auto;}
#bestseller h2{margin: 0 0 0 7px;}
#bestseller img{width: 400px; height: 450px; border-radius: 0px 30px 30px 0px;}

#bestseller .bsFlexBox2{font-size: .7em; width: 350px; height: 620px;}
#bestseller .bsFlexBox2 ul{width: max-content; height: max-content; padding: 10px; margin-top: 5px; border: 1.5px dotted var(--blue); border-radius: 20px;}
#bestseller .bsFlexBox2 ul li{padding: 1px;}
#bestseller .bsFlexBox2 p{width: 350px; padding: 5px;}

/* #bestseller .bestSellerCtrl{display: flex; justify-content: end;} */
#bestseller .bestSellerCtrl .box{position: relative; display: none; user-select: none;}
#bestseller .bestSellerCtrl .box .guard{position: absolute; z-index: -1; animation: guard .5s; display: block; width: 125px; height: 37px; border-radius: 13px;}
#bestseller .bestSellerCtrl .box label{display: inline-block; width: max-content; height: max-content; padding: 4px; margin-bottom: 5px; border-radius: 13px; text-align: center; border: 2px solid var(--blue); cursor: pointer; transition: .2s;}
/* #bestseller .bestSellerCtrl .box label:hover{color: var(--red); font-weight: bold;} */

#bestseller .bsBigBox{display: flex; justify-content: space-around; align-items: center; margin: 0 auto; width: 1200px; height: 650px;}

#bestseller .bestSellerContent ul{display: flex; width: 400px; height: 460px; overflow: hidden; border: 8px double var(--blue); border-radius: 5px 30px 30px 5px;}
#bestseller .bestSellerContent li{transition: .5s;}

#bestseller .bestSellerRadioBox:has(#own:checked) ~ .bestSellerCtrl .box1{display: block;}
#bestseller .bestSellerRadioBox:has(#two:checked) ~ .bestSellerCtrl .box2{display: block;}
#bestseller .bestSellerRadioBox:has(#three:checked) ~ .bestSellerCtrl .box3{display: block;}
#bestseller .bestSellerRadioBox:has(#four:checked) ~ .bestSellerCtrl .box4{display: block;}
#bestseller .bestSellerRadioBox:has(#five:checked) ~ .bestSellerCtrl .box5{display: block;}
#bestseller .bestSellerRadioBox:has(#six:checked) ~ .bestSellerCtrl .box6{display: block;}
#bestseller .bestSellerRadioBox:has(#seven:checked) ~ .bestSellerCtrl .box7{display: block;}


#bestseller .bestSellerRadioBox:has(#own:checked) ~ ul li{transform: translateX(-0px);}
#bestseller .bestSellerRadioBox:has(#two:checked) ~ ul li{transform: translateX(-400px);}
#bestseller .bestSellerRadioBox:has(#three:checked) ~ ul li{transform: translateX(-800px);}
#bestseller .bestSellerRadioBox:has(#four:checked) ~ ul li{transform: translateX(-1200px);}
#bestseller .bestSellerRadioBox:has(#five:checked) ~ ul li{transform: translateX(-1600px);}
#bestseller .bestSellerRadioBox:has(#six:checked) ~ ul li{transform: translateX(-2000px);}
#bestseller .bestSellerRadioBox:has(#seven:checked) ~ ul li{transform: translateX(-2400px);}


#bestseller .bsBigBox:has(#own:checked) > .bsFlexBox2 .ul1{border: 4.5px outset var(--blue);}
#bestseller .bsBigBox:has(#two:checked) > .bsFlexBox2 .ul2{border: 4.5px outset var(--blue);}
#bestseller .bsBigBox:has(#three:checked) > .bsFlexBox2 .ul3{border: 4.5px outset var(--blue);}
#bestseller .bsBigBox:has(#four:checked) > .bsFlexBox2 .ul4{border: 4.5px outset var(--blue);}
#bestseller .bsBigBox:has(#five:checked) > .bsFlexBox2 .ul5{border: 4.5px outset var(--blue);}
#bestseller .bsBigBox:has(#six:checked) > .bsFlexBox2 .ul6{border: 4.5px outset var(--blue);}
#bestseller .bsBigBox:has(#seven:checked) > .bsFlexBox2 .ul7{border: 4.5px outset var(--blue);}



@keyframes guard {
  from{z-index: -1;}
  to{z-index: 1;}
}

/* 추천 도서 영역 */



/* footer */

/* 64, 42, 9 */
footer{width: 100%; height: 200px; margin-top: 150px; margin-bottom: 50px; font-size: .8em;}
footer .footerIn{position: relative; display: flex; justify-content: space-around; align-items: center; width: 70%; height: 200px; margin: 0 auto; border: 2px dotted var(--lightred); border-right: none; border-radius: 20px 0 0 20px;}
footer .footerIn li{padding: 2px;}
footer .sns{display: flex; justify-content: space-between; width: 100px;}
footer .sns li{transition: .2s;}
footer .sns li:hover{color: var(--lightred);}

footer .footerDeco1{position: absolute; top: -13px; left: 100%; color: var(--lightred);}
footer .footerDeco2{position: absolute; bottom: -10px; left: 100%; color: var(--smallblue);}

/* footer */

/* 서브페이지 */

#sogea{width: 100%; height: 650px;}
#sogea .sogeaIn img{width: 100%; height: 520px; object-fit: cover; object-position: bottom;}
#sogea .sogeaIn{position: relative;}
#sogea .background{position: absolute; inset: 0; width: 100%; height: 520px; background-color: rgba(0, 0, 0, 0.349);}

#sogea ul{text-align: start; position: absolute; bottom: 25px; left: 1%; /* transform: translateX(-50%); */}
#sogea ul li{color: #fff; font-size: .9em; padding: 5px;}

/* #sogea ul li:nth-child(1)::first-letter{color: var(--blue);} */
#sogea ul li:nth-child(1){font-size: 3.5em; color: var(--lightblue); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
#sogea ul li:nth-child(2){font-size: 1.1em; /* color: var(--lightred); */}



#sub{width: 100%; height: 950px;}
#sub .subIn{width: 75%; height: 950px; margin: 0 auto; /* border: 1px solid; */}

#sub .titleBox h2{margin: 0 0 0 5px;}

#sub .titleBox{width: 85%; margin: 0 auto;}

#sub .history{display: flex; justify-content: space-around; width: 1600px; margin: 0 auto;}
#sub .historyBarBox{display: flex; justify-content: space-between; flex-direction: column; height: 800px;}

#sub .historyContent{display: flex; flex-direction: column; justify-content: space-between; height: 850px; font-size: .8em;}
#sub .historyContent ul{padding: 15px;}

/* 서브페이지 */

/* 모달 */
#modal{animation: modal .7s ease-in; position: fixed; inset: 30% 15%; transition: 1s; width: 330px; height: 450px; border: 1px solid #ffffff; border-radius: 15px; z-index: 1;}
#modal img{width: 328px; border-radius: 15px 15px 0 0;}
#modal p{font-size: .85em; text-align: center; margin-top: -5px; background-color: lightblue;}
#modal ul{padding: 15px; height: 184px; background-color: lightblue; border-radius: 0px 0px 15px 15px;}
#modal ul li{font-size: .8em; padding-top: .4em;}
#modal label{width: 60px; font-size: .9em; cursor: pointer; margin: 0 auto; display: flex; justify-content: center; margin-top: -27px;}
#modal label:hover{font-weight: bold;}
.container:has(#check:checked) #modal{display: none;}

.modal{animation: modal .7s ease-in; position: fixed; top: 100px; transition: 1s; width: 330px; height: 450px; border: 1px solid #ffffff; border-radius: 15px; z-index: 1;}
.modal img{width: 328px; border-radius: 15px 15px 0 0;}
.modal p{font-size: .85em; text-align: center; margin-top: -5px; background-color: lightblue;}
.modal ul{padding: 15px; height: 184px; background-color: lightblue; border-radius: 0px 0px 15px 15px;}
.modal ul li{font-size: .8em; padding-top: .4em;}
.modal label{width: 60px; font-size: .9em; cursor: pointer; margin: 0 auto; display: flex; justify-content: center; margin-top: -27px;}
.modal label:hover{font-weight: bold;}

.modalBox{display: grid; grid-template-columns: repeat(4, 1fr); width: 70%; height: 100%; margin: 0 auto;}

@keyframes modal {
  from{transform: scale(1.1);}
  to{transform: scale(1);}
}

/* 모달 */


/* php */

/* 도서관 현황 */

#libarayLive{display: flex; justify-content: center; align-items: center; width: 100%; min-height: 700px; padding-top: 150px;}
#libarayLive .libarayLiveIn{width: 1200px;}

.mapContainer{width: 100%; height: max-content;}
svg{display: block; width: 550px; height: 800px; margin: 0 auto;}

.land{fill: #CCCCCC; fill-opacity: 1; stroke:white; stroke-opacity: 1; stroke-width: 0.5;}
.land:hover{fill: var(--blue);}

#libarayLive .tooltip{display: none; position: absolute; width: max-content; height: max-content; padding: 5px; border-radius: 5px; background-color: lightgray; font-size: .6em; white-space: pre;}


#libarayLive thead{width: 100%; height: 20px; background-color: #676767;}
#libarayLive thead th{font-size: .7em; padding: 2px 6px; color: #fff;}
#libarayLive tbody{font-size: .7em;}
#libarayLive tbody tr:nth-child(even){background-color: #d3d3d3;}


/* 도서관 현황 */



/* 자료실 */

#dataRoom{width:100%; padding-top:100px;}
#dataRoom table{width:70%; margin:0 auto; border-collapse: collapse; text-align: center;}
#dataRoom th{padding: 12px 10px; font-size:.9em; font-weight: bold; border-bottom: 2px solid #ddd;}
#dataRoom td{padding: 10px; font-size: .75em; border-bottom: 1px solid #eee;}
#dataRoom tr:hover{background:#f5f5f5;}
#dataRoom img{width: 60px; height: 80px; object-fit: cover;}
/* #dataRoom input[type="submit"]:hover {background-color: red;} */


/* 자료실 */



/* 마이페이지 */

#myPage{width: 100%; height: max-content; padding-top: 150px;}
#myPage .rentBook{width: 1300px; height: 400px;}

#myPage .rentBook thead{font-size: .9em;}
#myPage .rentBook tbody tr td{font-size: .8em; margin-top: 10px;}

#myPage .rentBook img{width: 50px; height: 60px;}

#myPage .lineBox{display: flex; width: 70%;}
#myPage .lineBox p:nth-child(1){font-weight: bold; font-size: 25px;}
#myPage .line{width: 400px; height: 17px; border-bottom: 2px dotted; margin-left: 30px; display: flex; align-items: center;}


/* 마이페이지 */



/* 도서 등록 */

#newBook{width: 100%; height: max-content; min-height: 71vh; padding-top: 150px;}
#newBook .bookAdd input[type="submit"]{position: absolute; left: 50%; transform: translateX(-50%); width: max-content; height: max-content; padding: 3px; border: 1px solid; border-radius: 10px;}
#newBook .ab{width: 500px; margin: 15px auto;}
#newBook .ab input{width: 300px;}
#newBook .ab input:focus{outline: none;}

/* 도서 등록 */




/* 도서대출 및 열람실예약 */

#selectPage{width: 100%; height: max-content; display: flex; justify-content: space-around; padding-top: 150px;}
#selectPage .userRentedBook{display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; width: max-content; min-width: 550px; height: 550px; border: 1px solid;}

#selectPage .usersBook{width: 230px; height: max-content; min-height: 250px; padding: 5px; border: 1px solid; text-align: center; font-size: .7em;}
#selectPage .userRentedBook ul li{padding: 5px;}

#selectPage .box1{display: flex; flex-direction: column;}
#selectPage .box2{display: flex; flex-direction: column;}


#selectPage .userRentedRoom{width: 500px; height: 500px; border: 1px solid;}
#selectPage .userRentedRoom{display: grid; grid-template-columns: repeat(3, 1fr); gap: 5px; place-items: center; text-align: center; width: max-content; height: max-content; min-width: 600px; min-height: 500px;}
#selectPage .roomBox{width: max-content; height: max-content; padding: 5px; border: 1px solid; border-radius: 10px; font-size: .8em;}
#selectPage .roomBox p{padding: 4px;}

#selectPage input[type="submit"]{border: 1px solid #ddd; border-radius: 5px; transition: .2s;}
#selectPage input[type="submit"]:hover{border: 1px solid black;}


/* 도서대출 및 열람실예약 */





/* 열람실 */


.reserved{background-color: var(--red);}
.select{background-color: var(--blue);}

#readingRoom{width: 100%; height: 900px; padding-top: 150px;}
#readingRoom .readingRoomIn{width: 1200px; height: 750px; margin: 0px auto;}
#readingRoom h2{margin: 0 0 0 7px;}
#readingRoom .seatAll{user-select: none; display: grid; grid-template-columns: repeat(15, 1fr); place-items: center; margin: 10px auto; width: 1000px; height: 450px; border: 1px solid; border-radius: 20px;}
#readingRoom .seat{position: relative; cursor: pointer; width: 35px; height: 35px; border: 1px solid; border-radius: 5px; text-align: center; line-height: 35px; font-size: .8em;}
#readingRoom .seat:hover::after{content: attr(data-tooltip); position: absolute; top: -35px; width: max-content; height: max-content; min-width: 185px; min-height: 20px; background-color: #ebebeb; border-radius: 7px; border: 1px solid #ddd; white-space: pre; z-index: 5;}
#readingRoom .seat:not([data-tooltip]):hover::after{content: none;}



#readingRoom .reserveRoom{padding: 10px 0 0 100px;}
#readingRoom .reservation{width: 100%;}
#readingRoom .reservationInput{width: 70%; height: 70px; margin: 0 auto; text-align: center; border: 1px solid; border-radius: 15px; line-height: 70px;}
#readingRoom .btn{display: flex; justify-content: space-between; width: 100%; height: 50px;}
#readingRoom .reserveBtn{cursor: pointer; border: none; background-color: transparent; background-color: var(--smallblue); border-radius: 10px; padding: 5px; width: max-content; height: max-content; color: #fff; font-weight: bold;}
#readingRoom .seat.select{color: #fff;}




/* 열람실 */





/* 팝업 관리 */

#popup{display: flex; justify-content: center; align-items: center; width: 100%; height: max-content; min-height: 71vh; padding-top: 150px;}
#popup input[type="submit"]{width: max-content; height: max-content; padding: 4px; border: 1px solid; border-radius: 10px;}
#popup input:focus{outline: none;}

#popup .popupFixDel{width: 500px; height: max-content;}
#popup .popupData{border: 1px solid;}
#popup .popupData form[action=""]{border: 1px solid;}


/* 팝업 관리 */


/* 회원가입 */
.dottedBar{width: 160px; height: 3px; border-top: 2px dotted var(--lightred);}

#join{display: none;}
#join .joinBackground{position: fixed; width: 100vw; height: 100vh; background-color: #0000004f; z-index: 33;}
#join .joinIn{position: absolute; left: 50%; top: 4%; transform: translate(-50%); width: 550px; height: 550px; border: 5px outset var(--blue); background-color: #ffffff; border-radius: 20px; z-index: 34;}

#join .joinTextBox{display: flex; justify-content: space-around; align-items: center; width: 550px; height: 100px; /* background-color: red; */}
#join .close{width: 30px; height: 30px; border-radius: 6px; background-color: var(--lightred); color: #fff; font-weight: bold; cursor: pointer; border: none; transition: .2s;}
#join .close:hover{background-color: var(--red);}

#join form{display: flex; justify-content: space-between; flex-direction: column; width: 90%; height: 250px; margin: 0 auto;}
#join form div{display: flex; flex-direction: column; justify-content: space-between; height: 50px;}
#join input{width: 70%;}
#join input:focus{outline: none;}

#join form input[type="submit"]{position: absolute; /* left: 13%; */ left: 50%; transform: translateX(-50%); bottom: 100px; width: max-content; height: max-content; border-radius: 10px; padding: 6px; background-color: var(--smallblue); color: #fff; transition: .2s;}
#join form input[type="submit"]:hover{background-color: var(--blue);}

/* 로그인 */
#login{display: none;}
#login .loginBackground{position: fixed; width: 100vw; height: 100vh; background-color: #0000004f; z-index: 33;}
#login .loginIn{position: absolute; left: 50%; top: 4%; transform: translate(-50%); width: 550px; height: 550px; border: 5px outset var(--blue); background-color: #ffffff; border-radius: 20px; z-index: 34;}

#login .loginTextBox{display: flex; justify-content: space-around; align-items: center; width: 550px; height: 100px; /* background-color: red; */}
#login .close{width: 30px; height: 30px; border-radius: 6px; background-color: var(--lightred); color: #fff; font-weight: bold; cursor: pointer; border: none; transition: .2s;}
#login .close:hover{background-color: var(--red);}

#login form{display: flex; justify-content: space-between; flex-direction: column; width: 90%; height: 135px; margin: 0 auto;}
#login form div{display: flex; flex-direction: column; justify-content: space-between; height: 50px;}
#login input{width: 70%;}
#login input:focus{outline: none;}

#login form input[type="submit"]{position: absolute; /* left: 13%; */ left: 50%; transform: translateX(-50%); bottom: 100px; width: max-content; height: max-content; border-radius: 10px; padding: 6px; background-color: var(--smallblue); color: #fff; transition: .2s;}
#login form input[type="submit"]:hover{background-color: var(--blue);}
