*{scrollbar-width: none;margin: 0;padding: 0;list-style: none;text-decoration: none;color: inherit;box-sizing: border-box;}
.sale-price{text-decoration: line-through;}

@font-face {
  font-family: fontawsome;
  src: url(../../공통/fontawesome/fonts/fontawesome-webfont.ttf);
}
.container-html{font-family: fontawsome;}

header{position: fixed; width: 100%; height: 110px; background-color: rgba(211, 211, 211, 0.623); z-index: 100;}
.header-in{display: flex; justify-content: space-around; align-items: center; width: 100%; height: 110px;}

.drop>ul{display: flex; justify-content: space-between; width: 350px; height: 0px;}
.drop>ul>li{width: 115px; height: 40px; text-align: center; line-height: 40px; background-color: aqua;}
.drop>ul>li:hover .sub{height: 120px; background-color: antiquewhite;}

.sub li{width: 115px; height: 40px;}
.sub{overflow: hidden; height: 0px;}

.header-btn ul{display: flex; justify-content: space-between; width: 300px;}


/* ----------헤더--------- */

.introduction{width: 100%; height: 553px; padding-top: 110px;}
.introduction-img img{width: 1920px; height: 553px;}
.introduction-img{position: relative;}
.img-txt{position: absolute; top: 280px; bottom: 0; right: 0; left: 940px; color: #fff; font-size: 22px;}

/* --------section--------- */


footer{width: 100%; height: 400px; font-size: 15px; background: linear-gradient(pink, rgb(255, 103, 103));}
.footer-in{display: flex; justify-content: space-evenly; align-items: center; width: 100%; height: 400px;}

.big-box1{margin-top: 100px;}
.big-box2{margin-top: 100px;}

.ul1{display: flex; justify-content: center;}
.ul2{display: flex; justify-content: center;}
.ul3{display: flex; justify-content: center;}
.ul4{text-align: center;}
.ul5{text-align: center;}
.ul6{display: flex; justify-content: space-between; width: 200px; margin: 0 auto;}